# env
.env
.venv
env/
env*

# build
dist/
build/
*.egg
*.egg-info/

*.py[co]
__pycache__
.cache/
.pytest_cache/
.idea/
docs/_build/
test-results/

# Coverage reports
htmlcov/
.coverage
.coverage.*
*,cover

# sqlite instance
/instance