{% extends 'base.html' %}

{% block title %}Log In{% endblock %}

{% block content %}
<div class="container col-6">
  <div class="card">
    <div class="card-body">
      <form method="post">
        <div class="mb-3">
          <label class="form-label" for="username">Username</label>
          <input class="form-control" name="username" id="username" required>
        </div>
        <div class="mb-3">
          <label class="form-label" for="password">Password</label>
          <input class="form-control" type="password" name="password" id="password" required>
        </div>
        <input class="btn btn-primary" type="submit" value="Log In">
      </form>
    </div>
  </div>
</div>
{% endblock %}